@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=Work+Sans:wght@300;400&display=swap');

:root {
  --bg-color: #000000;
  --txt-color: #ffffff;
  --red: #A01B2E;
}

body {
  margin: 0;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 1rem;
  color: var(--txt-color);
  background-color: var(--bg-color);
}

h1, h2, h3 {
  font-family: 'Crimson Text';
  color: var(--red);
}

button, input, table {
  border: none;
  border-radius: 3px;
  font-family: inherit;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  transition : -webkit-filter 200ms ease-in-out;
  -webkit-transition : -webkit-filter 200ms ease-in-out;
}

button:hover {
  /* transform: scale(1.02); */
  filter: brightness(95%);
  transition : -webkit-filter 200ms ease-in-out;
  -webkit-transition : -webkit-filter 200ms ease-in-out;
}

table {
  box-shadow: 1px 1px 4px #888888;
}

hr {
  width: 10rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-justify-ctr {
  justify-content: center;
}

.flex-align-ctr {
  align-items: center;
}

.flex-gap-sm {
  gap: 1rem;
}

.container {
  padding: 0.5rem 3rem;
}




